<h2>Add your nickname to the videoconference</h2>
<form
  class="full-width"
  [formGroup]="formGroup"
  (ngSubmit)="submitNickname(formGroup)"
>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Nickname</mat-label>
    <input matInput [formControl]="nicknameControl" />
    <mat-error>{{ nicknameControl.mainError() }} </mat-error>
  </mat-form-field>
  <div class="action-buttons-container">
    <button mat-button type="button" (click)="backToHome()">
      Back to home page
    </button>
    <button mat-raised-button color="primary" type="submit">
      Save
    </button>
  </div>
</form>
