<h2>Add a stream to the videoconference</h2>
<form
  class="full-width"
  [formGroup]="formGroup"
  (ngSubmit)="submitAddStream(formGroup)"
>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Video input</mat-label>
    <mat-select [formControl]="videoInputControl">
      <mat-option
        *ngFor="let videoDevice of getVideoDevices()"
        [value]="videoDevice.deviceId"
      >
        {{ videoDevice.label }}
      </mat-option>
    </mat-select>
    <mat-error>{{ videoInputControl.mainError() }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Audio input</mat-label>
    <mat-select [formControl]="audioInputControl">
      <mat-option
        *ngFor="let audioDevice of getAudioDevices()"
        [value]="audioDevice.deviceId"
      >
        {{ audioDevice.label }}
      </mat-option>
    </mat-select>
    <mat-error>{{ audioInputControl.mainError() }}</mat-error>
  </mat-form-field>
  <div class="action-buttons-container">
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">
      Add stream
    </button>
  </div>
</form>
