@import "~src/styles/variables";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary-dark;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  transition: all ease 0.3s;
}

[hidden] {
  display: none !important;
}

.full-width {
  width: 100% !important;
}

.text-center {
  text-align: center;
}
.wrapper-snackbar-error {
  background-color: $red-light !important;
  max-width: 100% !important;
  width: 50% !important;
  margin: 10px auto !important;
  text-align: center;
}

.wrapper-snackbar-success {
  background-color: $green-light !important;
  max-width: 100% !important;
  width: 50% !important;
  margin: 10px auto !important;
  text-align: center;
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
