@import "~src/styles/variables";

.main-buttons {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  button {
    margin-right: 5px;
  }
}

button {
  background: white !important;
}

.add-icon,
.screen-share-icon {
  color: $primary-color !important;
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
  }
}

.hang-icon {
  color: $warn-color !important;
  &:hover {
    background-color: $warn-color !important;
    color: white !important;
  }
}

.share-button {
  color: $primary-color !important;
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
  }
}

.fullscreen-icon {
  color: $primary-color !important;
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
  }
}

.clean-button {
  color: $primary-color !important;
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
  }
  &.active {
    background-color: $primary-color !important;
    color: white !important;
    &:hover {
      background-color: white !important;
      color: $primary-color !important;
    }
  }
}

.container-buttons {
  transition: all ease 1s;
  color: $primary-color !important;
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
  }
  &.active {
    background-color: $primary-color !important;
    color: white !important;
    &:hover {
      background-color: white !important;
      color: $primary-color !important;
    }
  }
}

.hide-actions-buttons {
  transition: all ease 1s;
  display: none;
}

.show-actions-buttons {
  transition: all ease 1s;
}
