@import "~src/styles/variables";

.main-buttons {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 200px;
  margin: 0 auto;
}

button {
  background: white !important;
  transition: all ease 0.5s;
}

.add-icon,
.screen-share-icon {
  color: #5f6368 !important;
  &:hover {
    background-color: #5f6368 !important;
    color: white !important;
  }
}

.hang-icon {
  color: $warn-color !important;
  &:hover {
    background-color: $warn-color !important;
    color: white !important;
  }
}
