<div class="main-buttons">
  <button
    mat-fab
    class="add-icon"
    (click)="addStream()"
    matTooltip="Add a stream"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <button
    mat-fab
    class="screen-share-icon"
    (click)="addScreenShare()"
    matTooltip="Add a screen share"
  >
    <mat-icon>screen_share</mat-icon>
  </button>
  <button
    mat-fab
    class="hang-icon"
    (click)="hangupConference()"
    matTooltip="Leave the conference"
  >
    <mat-icon>call_end</mat-icon>
  </button>
</div>
