<div class="conference-container">
  <div
    class="local-streams"
    [ngClass]="{ 'local-stream-invisible': !panelVisibility }"
  >
    <app-stream-card
      *ngFor="let localStream of getLocalStreams()"
      [inputStream]="localStream"
      [isFocused]="isFocused(localStream.stream)"
      (focusStreamEmitter)="focusStream($event)"
      (closeStreamEmitter)="closeLocalStreamConnection($event)"
      (disableMicEmitter)="disableMic($event)"
      (enableMicEmitter)="enableMic($event)"
    ></app-stream-card>
  </div>
  <div class="main-stream">
    <video
      [srcObject]="getMainStream()"
      autoplay
      playsinline
      [muted]="isFocused(getMainStream())"
      class="main-stream-video"
    ></video>
  </div>
  <div
    class="remote-streams"
    [ngClass]="{ 'remote-stream-invisible': !panelVisibility }"
  >
    <app-stream-card
      *ngFor="let remoteStream of getRemoteStreams()"
      [inputStream]="remoteStream"
      [isFocused]="isFocused(remoteStream.stream)"
      (focusStreamEmitter)="focusStream($event)"
      (closeStreamEmitter)="closeRemoteStreamConnection($event)"
      (disableMicEmitter)="disableMic($event)"
      (enableMicEmitter)="enableMic($event)"
    ></app-stream-card>
  </div>
  <app-conference-buttons
    (hangupConferenceEmitter)="hangupConference()"
    (addStreamEmitter)="addStream()"
    (addScreenShareEmitter)="addScreenShare()"
    (copyToClipBoardEmitter)="copyToClipboardShareLink()"
    (triggerVisibilityEmitter)="triggerVisibility()"
  ></app-conference-buttons>
</div>
