@import "~src/styles/variables";

.video {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}
mat-card {
  margin: 10px;
  padding: 0 0 5px 0;
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .button-actions {
      margin-top: 5px;
      button:nth-of-type(1) {
        margin-right: 5px;
      }
    }
    .icon-focused-stream {
      position: absolute;
      top: 5px;
      left: 5px;
      color: $primary-color;
      background: white;
      border-radius: 50px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.mic-icon {
  color: $primary-color !important;
  &.muted {
    background-color: $warn-color !important;
    color: white !important;
    &:hover {
      background-color: #a71f1f !important;
    }
  }
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
  }
}

.close-icon {
  color: $warn-color !important;
  &:hover {
    background-color: $warn-color !important;
    color: white !important;
  }
}
